<div class='table'>
<table>
    <thead>
        <tr>
            <td>employee_id</td>
            <td>salary</td>
            <td>start_of_salary</td>
            <td>end_of_salary</td>
        </tr>
    </thead>
    <tbody>
        {{#output}}
        <tr>
            <td>{{employee_id}}</td>
            <td>{{salary}}</td>
            <td>{{start_of_salary}}</td>
            <td>{{end_of_salary}}</td>
        </tr>
        {{/output}}
    </tbody>
</table>
</div>