<div id='dumper'>
    <span> Uploading...</span>
</div>

<div class='table'>
<table>
    <thead>
        <tr>
            <td>employee_id</td>
            <td>birthdate</td>
            <td>firstname</td>
            <td>lastname</td>
            <td>sex</td>
            <td>start_date</td>
        </tr>
    </thead>
    <tbody>
        {{#data}}
        <tr>
            <td><a href="/salary?id={{& employee_id}}">{{employee_id}}</a></td>
            <td>{{birthdate}}</td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{sex}}</td>
            <td>{{start_date}}</td>
        </tr>
        {{/data}}
    </tbody>
</table>
</div>